# Database Configuration for Railway
DB_HOST=tramway.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=rPeBrVHNVzUNCmXjnPWckHoiQWwvJtrr
DB_NAME=railway
DB_PORT=37355

# Session Secret
SESSION_SECRET=pickleball_secret_key_2024

# Server Port
PORT=3000 